@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

* {
  box-sizing: border-box;
}

input {
  all: unset;
  box-sizing: border-box;
  appearance: none;
}

body {
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: white;
}

button {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  width: 100%;
}

.tweet-input::placeholder {
  color: white;
  opacity: 0.9;
}

.container {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.formInput {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
  background-color: white;
  color: black;
}

.formBtn {
  cursor: pointer;
  width: 100%;
  padding: 7px 20px;
  text-align: center;
  color: white;
  border-radius: 20px;
  background-color: #04aaff;
  cursor: pointer;
}

.cancelBtn {
  cursor: pointer;
  background-color: tomato;
}

/* Profile Page */

.profileForm {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.logOut {
  margin-top: 50px;
}

/* Nwitter tweet */

.tweetForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.tweetInput__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.tweetInput__input {
  flex-grow: 1;
  height: 40px;
  padding: 0px 20px;
  color: white;
  border: 1px solid #04aaff;
  border-radius: 20px;
  font-weight: 500;
  font-size: 1rem;
}

.tweetInput__arrow {
  position: absolute;
  right: 0;
  background-color: #04aaff;
  height: 40px;
  width: 40px;
  padding: 10px 0px;
  text-align: center;
  border-radius: 20px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.tweetInput__label {
  font-size: 1rem;
  color: #04aaff;
  cursor: pointer;
}

.tweetInput__label span {
  margin-right: 10px;
  font-size: 1rem;
}

.tweetForm__attachment {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tweetForm__attachment img {
  height: 80px;
  width: 80px;
  border-radius: 40px;
}

.tweetForm__clear {
  margin: 10px;
  color: #04aaff;
  cursor: pointer;
  text-align: center;
}

.tweetForm__clear span {
  margin: 10px;
  font-size: 1.1rem;
}

/* tweet */

.tweetEdit .formBtn {
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 5px;
}

.tweet {
  margin-bottom: 30px;
  background-color: white;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.8);
}

.tweet h4 {
  font-size: 1rem;
}

.tweet img {
  right: -10px;
  top: 20px;
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  z-index: 1;
}

.tweet__actions {
  position: absolute;
  right: 10px;
  top: 10px;
}

.tweet__actions span {
  cursor: pointer;
}

.tweet__actions span:first-child {
  margin-right: 10px;
}

/* Auth */

.authContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.authBtns {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 400px;
  margin: 10px 0;
}

.authBtn {
  cursor: pointer;
  border-radius: 20px;
  border: none;
  padding: 10px 10px;
  font-size: 0.9rem;
  text-align: center;
  background: white;
  max-width: 200px;
}

.authBtn:hover {
  transition: all 0.3s;
  background-color: #04aaff;
  color: white;
}

/* AuthForm */

.authInput {
  max-width: 400px;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  font-size: 1rem;
  color: black;
}

.authInput::placeholder {
  font-size: 1rem;
  text-transform: capitalize;
}

.authSubmit {
  text-align: center;
  background: #04aaff;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  font-size: 1rem;
}

.authError {
  color: tomato;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  margin: 20px 0;
}

.authSwitch__label {
  color: #04aaff;
  cursor: pointer;
  margin: 10px 0;
  display: block;
  font-size: 1.1rem;
  text-decoration: underline;
  text-align: center;
}

/* Navigation Component */

.navLink__text {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
}
